header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: whitesmoke;
    box-shadow: inset 0 0 0 1em darkblue;
    width: 20em;
    height: 20em;
    transition: color 0.25s;

    &::before, &::after {
        content: '';
        position: absolute;
        box-sizing: border-box; 
        border: 1em solid transparent;
        width: 0;
        height: 0;
    }

    &::before {
        top: 0;
        left: 0;
    }

    &::after {
        bottom: 0;
        right: 0;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    &:hover {
        color: darkblue;
    }

    &:hover::before, &:hover::after {
        width: 100%;
        height: 100%;
    }

    &:hover::before {
        border-top-color: lightblue;
        border-right-color: lightblue;
        transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    }

    &:hover::after {
        transition: width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s, border-color 0s linear 0.5s; 
        border-bottom-color: lightblue;
        border-left-color: lightblue;
    }


    @media ( min-width: 500px ) {
        width: 40em;
        height: 40em;
    }
}

h1 {
    font-family: monospace;
    font-size: 1em;
    text-transform: uppercase;
    height: fit-content;
    color: darkblue;

    @media ( min-width: 500px ) {
        font-size: 2em;
    }
}

