header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 20em;
    height: 20em;
    border: 0.5em solid darkblue;
    border-radius: 7.5em;
    corner-shape: scoop;
    margin-top: 10em;

    @media ( min-width: 500px ) {
        width: 40em;
        height: 40em;
        border: 1em solid darkblue;
        border-radius: 15em;
    }
}

h1 {
    font-family: monospace;
    font-size: 1em;
    text-transform: uppercase;
    height: fit-content;
    color: darkblue;

    @media ( min-width: 500px ) {
        font-size: 2em;
    }
}
